#Project
.env
test-result

#Agents
.gemini/*
.claude/*
.playwright-cli/*

# Virtual Environment
.venv/
venv/

# Python compiled files (Bytecode)
__pycache__/
*.pyc

# PyCharm / IntelliJ IDE settings
.idea/
*.iml

# macOS system files
.DS_Store